<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrowserApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BrowserApp.Properties.Settings>
            <setting name="SE" serializeAs="String">
                <value />
            </setting>
            <setting name="Google" serializeAs="String">
                <value>https://www.google.com</value>
            </setting>
            <setting name="Bing" serializeAs="String">
                <value>https://www.bing.com/</value>
            </setting>
            <setting name="DuckDuckGo" serializeAs="String">
                <value>https://duckduckgo.com</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </BrowserApp.Properties.Settings>
    </userSettings>
</configuration>